@import "lib"

@import "lib"

html
body
	margin 0
	padding 0
	height 100%
	width 100%
	overflow hidden

body
	font normal 15px sans-serif
	box-sizing border-box
	touch-action none
	user-select none


	*
		box-sizing inherit


#app
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	background #888
	color #ccc
	padding 0
	overflow hidden
